/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Sofia&effect=fire");
/*Typography
--------------------------------------------------------------*/
/* body, */
body {
  background-image: url("https://wallpapercave.com/wp/wp1987155.jpg"); 
  /* display: flex;
  flex-wrap: wrap;  */
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  /* height: 100%; */
}

button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sofia", serif;
  letter-spacing: 2px;
}
/* #gradient {
  background-image: linear-gradient(90deg,
  rgba(94, 114, 235, 1) 0%, rgba(255, 145, 144, 1) 56%,
  rgba(254, 193, 149, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;

    animation: move is infinite;
}

@keyframes move {
  50% {
  background-image: linear-gradient(262deg,
  rgba(94, 114, 235, 1) 0%, rgba(255,145, 144, 1), 56%
  rgba(254, 193, 149, 1) 100%);
  }
} */

p {
  margin-bottom: 1.5em;
}